<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Schedule </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header>
            <nav class="navigation">
        
                <div class="nav_back"> 
                    <img src="img/drop-down.svg" class="nav-icon-back">
                    Back 
                </div>
        
                <img src="img/logo_studytube.svg">
                
                <div class="nav_buttons">
                    <img src="img/search.svg" class="icons-nav">
                    <img src="img/notification.svg" class="icons-nav">
                    <img src="img/profile.svg" class="icons-nav">
                    <img src="img/drop-down-profile.svg" class="icon-profile-dropdown icons-nav">
                </div>
            </nav>
        </header>

    <div class="hero-image"> 
        <div class="hero-text">
            <p class="hero-title"> Schedule </p>
            <p class="hero-subtitle"> First Three Step for Medical Help </p>
        </div>
    </div>

    <main>

        <div class="select">
            <p class="select-title"> Select Month</p>
        </div>
    
        <div class="month-btns">
            <button class="nav-icon-back-month"> <i class="fa fa-chevron-left"></i> </button>
            
            <div class="month-btn"> 
                <div class="month-name"> March </div>
			    <div class="month-year"> 2019 </div>
            </div>
        </div>

        <div id="classes"></div>

    <!-- Schedule Card -->
        <template id="scheduleCard">
            <div class="scheduleCard">
                <div class="flex-card-block-left">
                    <div class="time-block">
                        <p class="other-dates"> Other Dates: +2  </p>  
                    </div> 
                    <div class="time-block" style="height:51px"> 
                        <p class="time"> 
                            <img src="img/clock.svg" class="icon-time"> 
                            <span class="timeSpan"></span> 
                        </p>  
                    </div>
                    <div class="time-block">
                        <p class="students-going"></p>  
                    </div> 
                </div> 

                <div class="flex-card-block-center">
                    <div class="lecture"> 
                        <span> <img src="img/lecture.svg" class="lecture-icon"> </span>  
                        <p class="lecture-title"></p> 
                    </div>
                    <div class="lecture"> 
                        <span> <img src="img/date.svg" class="lecture-icon" style="height:20px"> </span>  
                        <span class="lecture-date">, </span>
                        <span class="lecture-date lecture-date-bold">   March 4, 2019  </span> 
                        <span class="lecture-date lecture-session">   Session 1 of 2 </span> 
                    </div>
                    <div class="lecture"> 
                        <span> <img src="img/location.svg" class="lecture-icon" style="height:21px"> </span>  
                        <p class="lecture-title"> Amsterdam Central Hospital, Amsterdam, Netherlands  </p> 
                    </div>
                </div>

                <div class="flex-card-block-right"> 
                    <button class="button scheduleCard"> Register </button>
                </div>
            </div>
        </template>
    <!-- Schedule Card -->

    </main>

    <script src="../js/main.js"></script>
    </body>
</html>